<% content_for :home do %>
	Welcome to Secretary R Us
<% end %>

</div>
<div class="content-main" style="margin: 10%;">
	<div class="jumbotron col-sm-10 col-sm-offset-1">
		<h2 class="text-center">Welcome to Secretary R Us!</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, necessitatibus, vitae perspiciatis maiores iure id minima corporis modi dolore minus quia porro sit architecto! Velit voluptatum eligendi repudiandae obcaecati quod.
		</p>
		<p>
			If you don't have an account, please go to the: <a href="/users/new">register</a> page. While this site is under construction, please sign in here: <a href="/sessions/new">Log In</a>
		</p>
	</div>
</div>
