<% content_for :home do %>
	Welcome to Secretary R Us
<% end %>

</div>
<div class="content-main" style="margin: 10%;">
	<div class="jumbotron col-sm-10 col-sm-offset-1">
		<h2 class="text-center">Welcome to Secretary!</h2>
		<p>
			Secretary is an application for managing your tasks. When you're on the go, Secretary will send you a text message to remind you when you have a task that is due. To get started sign up for an account.
		</p>
		<p>
			If you don't have an account, please go to the: <a href="/users/new">register</a> page. While this site is under construction, please sign in here: <a href="/sessions/new">Log In</a>
		</p>
	</div>
</div>
